.boton  {
	font-family: arial;
	font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10%;
    background-color: #4CAF50;
    color: white;
    border:none;
}

.boton:hover {
    background-color: #72CE76 !important; 
    color: black !important;
    border-radius: 10% !important;
    cursor:pointer; cursor: hand;
}