
.posicion1{
  font-weight: bold;
  font-size: 22px;
}
.posicion2{
 font-weight: bold; 
 font-size: 20px;
}
.posicion3{
  font-weight: bold;
}

.central > div{
	width: 50%;
	margin: 0 auto;
	float:left;
	min-width: 300px;
}
.central > div >div{
	max-height: 400px;
	overflow-y: auto;
}
.central{
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
  	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

hr{
	width: 95%;
}

p{
	margin: 0 5%;
}