body{
	margin: 0;
	background-color: #f2f2f2;
}
.posicion1{
  font-weight: bold;
  font-size: 20px;
}
.posicion2{
 font-weight: bold; 
 font-size: 18px;
}
.posicion3{
  font-weight: bold;
 font-size: 16px;
}

.ranking > div{
	background-color: white;
	border-radius: 15px;
	width: 48%;
	margin: 20px 1%;
	float:left;
	min-width: 350px;
	padding-bottom: 10px;
}
.ranking > div >div{
	max-height: 345px;
	overflow-y: auto;
}
.ranking{
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
  	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

hr{
	width: 95%;
}

p{
	margin: 0 5%;
}
.ranking h1{
	width: 100%;
	min-width: 300px;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 1%;
}

ul.topnav, ul.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {
	float: left;
	margin: 0 3px;
}

ul.topnav li a, ul.topnav li span{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover:not(.active):not(.boton) {
	background-color: #111;
	border-radius: 10px;}

.active {
	background-color: #4CAF50;
	border-radius: 10px;}

.right {float: right;}

@media screen and (max-width: 600px){
	.right, ul.topnav li {float: none;}
	input{
		display: block;
		margin: 0 auto;
	}
}
.contenido{padding: 10px;}
.topnav span{
	background-color: #444;
	border-radius: 15px;
}