body {
    margin: 0;
    background-color: #f2f2f2;
}
img{
  width: 100%;
  height: 100%;
}
.back{
  transform: rotateY( 180deg );
}
.front{
  backface-visibility: hidden;
}
.card{
  width: 100px;
  height: 150px;
}
.card > div{
  background-color: white;
  transition: transform 1s;
  position: absolute;
  width: 100px;
  height: 150px;
}
.flipped > .back, .flipping > .back{
  transform: rotateY( 0deg );
}
.flipped > .front, .flipping > .front{
  transform: rotateY( 180deg );
}

#formPuntuacion, #formGuardarPartida{
  display: none;
}
h3{
  text-align: center;
  background-color: white;
  width: 70%;
  margin: 25px auto;
  padding: 10px;
  border-radius: 20px;
}
table{
  margin: 0 auto;
  min-width: auto;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}
h3 > div{
  display:inline-block;
  padding: 5px 0;
}

@media screen and (max-width: 600px){
  .separador{
    display: none;
  }
  h3{
    width: 100%;
    padding: 10px 0;
  }
  h3 > div{
    display:block;
  }
  .boton{
    border-radius: 50px;
    display: block;
    width: 90%;
  }
  .boton a:hover{
    border-radius: 50px;
  }
  #btnBono{
    margin-top: 10px;
  }
}