img{
  width: 100px;
  height: 160px;
}
.card {
  width: 100px;
  height: 160px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 5px;
}

.card > div {
  position: absolute;
  backface-visibility: hidden;
}
.card .front {
  background: white;
}
.card .back {
  background: white;
  transform: rotateY( 180deg );
}
.card.flipped {
  transform: rotateY( 180deg );
}

#formPuntuacion{
  display: none;
}
h3{
  text-align: center;
}
table{
  margin: 0 auto;
}
.posicion1{
  font-weight: bold;
  font-size: 22px;
}
.posicion2{
 font-weight: bold; 
 font-size: 20px;
}
.posicion3{
  font-weight: bold;
}