img{
  width: 100%;
  height: 100%;
}
.back{
  transform: rotateY( 180deg );
}
.front{
  backface-visibility: hidden;
}
.card{
  width: 100px;
  height: 150px;
}
.card > div{
  background-color: white;
  transition: transform 1s;
  position: absolute;
  width: 100px;
  height: 150px;
}
.flipped > .back, .flipping > .back{
  transform: rotateY( 0deg );
}
.flipped > .front, .flipping > .front{
  transform: rotateY( 180deg );
}

#formPuntuacion, #formGuardarPartida{
  display: none;
}
h3{
  text-align: center;
}
table{
  margin: 0 auto;
}